<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>アルバムの作成・修正</title>
        <link rel="stylesheet" href="/css/style.css" />
        <style>
            fieldset {
                border-width:0px;
            }
        </style>
        <script>
            // フォームをポストする。
            function postform() {
                if (!document.getElementById('name').value) {
                    alert("アルバム名が空欄です。");
                    return;
                }
                document.form1.submit();
            }

            // すべてのコントロールをクリアする。
            function clear() {
                document.getElementById('id').value = "";
                document.getElementById('name').value = "";
                document.getElementById('mark').value = "";
                document.getElementById('info').value = "";
                document.getElementById('bindata').value = "0";
                document.getElementById('groupname').value = "";
            }

            // データ確認
            function confirm() {
                let id = document.getElementById('id').value;
                fetch('/getAlbum/' + id)
                .then(res => res.json())
                .then(data => {
                    form1.id.value = data.id;
                    form1.name.value = data.name;
                    form1.mark.value = data.mark;
                    form1.info.value = data.info;
                    form1.bindata.value = data.bindata;
                    form1.groupname.value = data.groupname;
                })
                .catch(err => document.getElementById('message').value = err.message);
            }
        </script>
    </head>

    <body>
        <header>
            <h1><a href="/"><img src="/img/home_orange.png" /></a> アルバムの作成・修正</h1>
            <hr />    
        </header>
        <article>
            <p class="comment">id が空欄の場合は新規作成となります。そうでない場合は当該 id のアルバムが修正されます。<br />id を入力して「データ確認」をクリックするとその id のデータが表示されます。</p>
            <form id="form1" name="form1" method="POST" action="/addModifyAlbum" style="margin-top:40px;margin-left:10%;">
                <fieldset>
                    <div class="form_item"><legend>id</legend></div>
                    <div class="form_item"><input type="number" id="id" name="id" size="6" value="<%= values.id %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item"><legend>名称</legend></div>
                    <div class="form_item"><input type="text" id="name" name="name" size="50" value="<%= values.name %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item"><legend>マーク (注意書き参照)</legend></div>
                    <div class="form_item"><input type="text" id="mark" name="mark" size="20" value="<%= values.mark %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item"><legend>情報</legend></div>
                    <div class="form_item"><input type="text" id="info" name="info" size="100" value="<%= values.info %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item"><legend>サムネール</legend></div>
                    <div class="form_item"><input type="number" id="bindata" name="bindata" size="6" value="<%= values.bindata %>" />&nbsp;&nbsp;<a href="/extra/bindataForm" target="_blank">[サムネール画像の登録]</a></div>
                </fieldset>
                <fieldset>
                    <div class="form_item"><legend>グループ名</legend></div>
                    <div class="form_item"><input type="text" id="groupname" name="groupname" size="20" value="<%= values.groupname %>" /></div>
                </fieldset>
                <br />
                <fieldset class="form_row">
                    <input type="button" name="button_postform" value=" 送信する " onclick="javascript:postform()" />&nbsp;
                    <input type="button" name="button_confirm" value=" データ確認 " onclick="javascript:confirm()" />&nbsp;
                    <input type="button" id="button_clear" value=" クリア " onclick="javascript:clear()" />&nbsp;
                </fieldset>
                <br />
                <p id="message" class="message"><%= message %></p>
            </form>
            <p style="margin-left:10%;">「マーク」は任意の文字列を指定できますが、標準として次のように決められています。</p>
            <ul style="margin-left:10%;font-size:11pt;color:darkviolet;">
                <li>picture: 画像フォルダ</li>
                <li>video: 動画</li>
                <li>music: 音楽</li>
                <li>project: プロジェクト</li>
                <li>document: 文書</li>
            </ul>
            <br />
            <h4 style="margin-left:10%;">既存のグループ名</h4>
            <ul style="margin-left:10%;font-size:11pt;color:rgb(27, 53, 122);">
                <% for (let gn of groupnames) { %>
                    <li><%= gn %></li>
                <% } %>
            </ul>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>