<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <title>音楽の追加・修正</title>
        <link rel="stylesheet" href="/css/style.css" />
        <style>
            .form_item {
                font-size:10pt;
            }
        </style>
        <script>
            function confirmMusic() {
                let id = document.getElementById("id").value;
                location.href = "/music/confirmMusic/" + id;
            }

            function clearForm() {
                document.getElementById("id").value = "";
                document.getElementById("album").value = "0";
                document.getElementById("title").value = "";
                document.getElementById("path").value = "";
                document.getElementById("artist").value = "";
                document.getElementById("media").value = "";
                document.getElementById("mark").value = "";
                document.getElementById("info").value = "";
                document.getElementById("fav").value = "0";
                document.getElementById("bindata").value = "0";
                let el = document.getElementsByClassName("message");
                el[0].innerText = "クリアされました。";
            }
        </script>
    </head>

    <body>
        <header>
            <h1>音楽の追加・修正</h1>
            <p class="comment">id を空欄にしたときは「追加」となります。データ確認を行う場合は必ず id を設定します。</p>
            <hr />  
        </header>

        <article>
            <br />
            <form id="form1" method="POST" action="/music/musicForm">
                <div class="form-row">
                    <div><div class="form_item">id<div><div><input type="number" id="id" name="id" size="6" value="<%= value.id %>" /></div></div>
                    <div><div class="form_item">アルバム<div><div><input type="number" id="album" name="album" size="6" value="<%= value.album %>" /></div></div>
                    <div><div class="form_item">タイトル<div><div><input type="text" id="title" name="title" size="80" value="<%= value.title %>" /></div></div>
                    <div><div class="form_item">パス<div><div><input type="text" id="path" name="path" size="150" value="<%= value.path %>" /></div></div>
                    <div><div class="form_item">アーティスト<div><div><input type="text" id="artist" name="artist" size="50" value="<%= value.artist %>" /></div></div>
                    <div><div class="form_item">メディア<div><div><input type="text" id="media" name="media" size="50" value="<%= value.media %>" /></div></div>
                    <div><div class="form_item">マーク<div><div><input type="text" id="mark" name="mark" size="20" value="<%= value.mark %>" /></div></div>
                    <div><div class="form_item">情報<div><div><input type="text" id="info" name="info" size="150" value="<%= value.info %>" /></div></div>
                    <div><div class="form_item">好き<div><div><input type="text" id="fav" name="fav" size="6" value="<%= value.fav %>" /></div></div>
                    <div><div class="form_item">サムネール<div><div><input type="number" id="bindata" name="bindata" size="6" value="<%= value.bindata %>" /></div></div>
                    <div style="margin-top:15px;">
                        <input type="submit" id="submit" name="submit" value=" 送信する " />&nbsp;
                        <input type="button" id="confirm" name="confirm" value=" データ確認 " onclick="javascript: confirmMusic()" />&nbsp;
                        <input type="button" id="reset" value=" クリアする " onclick="javascript: clearForm()" />
                    </div>
                </div>
            </form>
            <br />
            <p class="message"><%= message %></p>
        </article>
        <footer>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>