<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>音楽の追加・修正</title>
        <link rel="stylesheet" href="/css/style.css" />
        <style>
            .form_item {
                font-size:10pt;
            }
            fieldset {
                border-width: 0px;
            }
        </style>
        <script>
            function submitClick() {
                if (!form1.title.value) {
                    alert("タイトルが空欄です。");
                    return;
                }
                let path = form1.path.value;
                let endp = path.length - 1;
                if (endp < 0) {
                    alert("パスが空欄です。");
                    return;
                }
                else if (path[0] == '"' && path[endp] == '"') {
                    form1.path.value = path.substring(1, endp);
                }
                else {
                    // そのまま
                }
                form1.submit();
            }

            function confirmMusic() {
                let id = document.getElementById("id").value;
                location.href = "/music/confirmMusic/" + id;
            }

            function clearForm() {
                document.getElementById("id").value = "";
                document.getElementById("album").value = "0";
                document.getElementById("title").value = "";
                document.getElementById("path").value = "";
                document.getElementById("artist").value = "";
                document.getElementById("media").value = "";
                document.getElementById("mark").value = "";
                document.getElementById("info").value = "";
                document.getElementById("fav").value = "0";
                document.getElementById("bindata").value = "0";
                let el = document.getElementsByClassName("message");
                el[0].innerText = "クリアされました。";
            }
            // アルバムのタイトルを得る。
            function checkAlbum() {
                const id = document.getElementById("album").value;
                if (id <= 0) {
                    alert("id=0はアルバム未登録を意味します。");
                }
                else {
                    fetch("/index/getAlbumTitle/" + id)
                    .then(res => res.text())
                    .then(name => alert(`アルバムタイトルは "${name}" です。`))
                    .catch(err => alert(err.message));
                }
            }

            // サムネール画像を得る。
            function checkBINDATA() {
                const id = document.getElementById("bindata").value;
                if (id <= 0) {
                    alert("id=0はサムネール画像未登録を意味します。");
                }
                else {
                    const thumb = document.getElementById("thumb");
                    const divthumb = document.getElementById("divthumb");
                    thumb.setAttribute("src", "/index/extract/" + id);
                    divthumb.style.display = "block";
                }
            }
        </script>
    </head>

    <body>
        <header>
            <h1><a href="/"><img src="/img/home_orange.png" /></a>&nbsp;音楽の追加・修正</h1>
            <p class="comment">id を空欄にしたときは「追加」となります。データ確認を行う場合は必ず id を設定します。</p>
            <hr />
        </header>

        <article>
            <br />
            <form id="form1" method="POST" action="/music/musicForm" style="margin-left:4%;">
                <fieldset>
                    <div class="form_item">id</div>
                    <div class="form_item"><input type="number" id="id" name="id" size="8" value="<%= value.id %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">アルバム&nbsp;<a href="javascript:checkAlbum()">[チェック]</a></div>
                    <div class="form_item"><input type="number" id="album" name="album" size="8" value="<%= value.album %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">タイトル</div>
                    <div class="form_item"><input type="text" id="title" name="title" size="80" value="<%= value.title %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">パス</div>
                    <div class="form_item"><input type="text" id="path" name="path" size="150" value="<%= value.path %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">アーティスト</div>
                    <div><input type="text" id="artist" name="artist" size="50" value="<%= value.artist %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">メディア</div>
                    <div class="form_item"><input type="text" id="media" name="media" size="50" value="<%= value.media %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">マーク</div>
                    <div class="form_item"><input type="text" id="mark" name="mark" size="20" value="<%= value.mark %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">情報</div>
                    <div><input type="text" id="info" name="info" size="150" value="<%= value.info %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">好き</div>
                    <div class="form_item"><input type="text" id="fav" name="fav" size="8" value="<%= value.fav %>" /></div>
                </fieldset>
                <fieldset>
                    <div class="form_item">サムネール&nbsp;<a href="javascript:checkBINDATA()">[チェック]</a></div>
                    <div style="font-size:10pt"><input type="number" id="bindata" name="bindata" size="8" value="<%= value.bindata %>" />&nbsp;&nbsp;<a href="/extra/bindataForm" target="_blank">[サムネール画像の登録]</a></div>
                    <div style="display:none" id="divthumb"><img src="" id="thumb" /></div>
                </fieldset>
                <fieldset>
                    <input type="button" id="submit" name="submit" value=" 送信する " onclick="javascript:submitClick()" />&nbsp;
                    <input type="button" id="confirm" name="confirm" value=" データ確認 " onclick="javascript: confirmMusic()" />&nbsp;
                    <input type="button" id="reset" value=" クリアする " onclick="javascript: clearForm()" />
                </fieldset>
            </form>
            <br />
            <p class="message"><%= message %></p>
            <h4>登録されているマーク一覧</h4>
            <ul>
                <% for (let m of marks) { %>
                    <li><%= m %></li>
                <% } %>
            </ul>
        </article>
        <footer>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>