<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
	<style>
	  .big_icons {
	    display: flex;
		padding: 10px;
		margin-left: 1%;
		margin-top: 40px;
	  }
	  figure {
	    text-align:center;
		font-size: small;
		color: darkblue;
		width: 15%;
	  }
	  .iconpad {
		padding: 5px;
	  }
	  .info {
		  margin-left:15%;
		  font-size: 11pt;
	  }
	  .info2 {
		  margin-left:18%;
		  font-size: 11pt;
	  }
	  .opdiv {
		padding: 20px;
		border-left: solid thin lightgray; 
	  }
	</style>
	<script src="/js/private.js"></script>
	<script>
		// ページがロードされたとき
		function onPageLoad() {
			// 検索ボタンのイベントハンドラ
			const searchButton = elem("searchButton");
			searchButton.addEventListener('click', () => {
				const table = getElValue("searchTable");
				const word = getElValue("searchWord");
				if (word == "") {
					alert("検索語が空欄です。");
					return;
				}
				switch (table) {
					case "Pictures":
						window.open("/pictures/showContent?search=" + word);
						break;
					case "Videos":
						window.open("/videos/showContent?search=" + word);
						break;
					case "Music":
						window.open("/music/showContent?search=" + word);
						break;
					case "Projects":
						window.open("/projects/showContent?search=" + word);
						break;
					case "Documents":
						window.open("/documents/showContent?search=" + word);
						break;
					case "Wiki":
						window.open("/extra/wiki/?word=" + word);
						break;
					default:
						return;
				}
			});

			// Wiki データの取得
			fetch("/extra/getWikiData2?n=5")
			.then(res => res.json())
			.then(data => {
				if (!data) {
					setElValue("message", "Wiki データがありません。");
					setElValue("wiki", "Wiki データがありません。");
					return;
				}
				let html = "<ul>\n";
				for (const row of data) {
					const url = "/extra/wikiContent/?id=" + row.id;
					html += `<li><a href="${url}" target="_blank">`;
						html += row.title;
					html += "</a></li>\n";
				}
				html += "</ul>\n"
				setElValue("message", "");
				setElValue("wiki", html, false);
			})
			.catch(err => setElValue("message", err.message));
		}

		// データの追加 Select が変化したとき
		function addData() {
			const tableName = getElValue("addData");
			switch (tableName) {
				case "Album":
					window.open("/index/addModifyAlbum/");
					break;
				case "Pictures":
					window.open("/pictures/picturesForm/");
					break;
				case "Videos":
					window.open("/videos/videosForm/");
					break;
				case "Music":
					window.open("/music/musicForm/");
					break;
				case "Playlists":
					window.open("/music/musicPlForm/");
					break;
				case "Projects":
					window.open("/projects/projectForm/");
					break;
				case "Documents":
					window.open("/documents/documentForm/");
					break;
				case "BINDATA":
					window.open("/extra/bindataForm");
					break;
				case "Wiki":
					window.open("/extra/wikiForm");
					break;
				case "Medias":
					window.open("/extra/mediasForm");
					break;
				default:
					break;
			}
		}
	</script>
  </head>
  <body onload="javascript:onPageLoad()">
    <h1><%= title %></h1>
    <p style="text-align:center;color:indigo;">ようこそ！ <%= title %> の管理ウェブアプリへ</p>
	<br />
	<div class="menu">
		<a href="/addModifyAlbum" target="_blank"><img src="/img/form.png" /> アルバムの作成・修正</a>&nbsp;|&nbsp;
		<a href="/showAlbumGroups" target="_blank"><img src="/img/folder.png" /> アルバムグループ一覧</a>&nbsp;|&nbsp;
		<a href="/showAlbums/0" target="_blank"><img src="/img/thumbs2.png" /> アルバム一覧</a>&nbsp;|&nbsp;
		管理テーブルの内容&nbsp;
		<a href="/projects/showContent" target="_blank"><img src="/img/business2.png" /> プロジェクト</a>&nbsp;/&nbsp;
		<a href="/documents/showContent" target="_blank"><img src="/img/book2.png" /> 文書</a>&nbsp;/&nbsp;
		<a href="/pictures/showContent?reset=1" target="_blank"><img src="/img/image2.png" /> 画像</a>&nbsp;/&nbsp;
		<a href="/videos/showContent?reset=1" target="_blank"><img src="/img/video2.png" /> 動画</a>&nbsp;/&nbsp;
		<a href="/music/showContent?reset=1" target="_blank"><img src="/img/song16.png" /> 音楽</a>&nbsp;|&nbsp;
		<a href="/extra/wiki" target="_blank"><img src="/img/folder2.png" /> Wiki</a>&nbsp;/&nbsp;
		<a href="/help_index.html" target="_blank"><img src="/img/question2.png" /> ヘルプ</a>&nbsp;
	</div>
	<div class="big_icons horblock">
	  <figure><a href="/computer" target="_blank"><img src="/img/laptop.png" alt="コンピュータ" class="iconpad" /><figcaption>コンピュータ</figcaption></a></figure>
	  <figure><a href="/projects" target="_blank"><img src="/img/business.png" alt="プロジェクト" class="iconpad" /><figcaption>プロジェクト</figcaption></a></figure>
	  <figure><a href="/documents" target="_blank"><img src="/img/book.png" alt="文書" class="iconpad" /><figcaption>文書</figcaption></a></figure>
	  <figure><a href="/pictures" target="_blank"><img src="/img/pictures.png" alt="画像"  class="iconpad" /><figcaption>画像</figcaption></a></figure>
	  <figure><a href="/videos" target="_blank"><img src="/img/movie.png" alt="動画"  class="iconpad" /><figcaption>動画</figcaption></a></figure>
	  <figure><a href="/music" target="_blank"><img src="/img/music.png" alt="音楽"  class="iconpad" /><figcaption>音楽</figcaption></a></figure>
	  <figure><a href="/extra" target="_blank"><img src="/img/settings.png" alt="その他"  class="iconpad" /><figcaption>その他</figcaption></a></figure>
	  <br />
	</div>
	<p id="message" class="message"><%= message %></p>
    <br />
	<hr style="width:85%; border-width:1px; color:whitesmoke;" />
	<br />
	<div style="display: flex;" class="info">
		<div class="opdiv">
			<h4 >データの追加</h4>
			<div class="info2">
				項目の選択： <select id="addData" onchange="javascript:addData()">
					<option value="0">--- Select ---</option>
					<option value="Album">アルバム</option>
					<option value="Pictures">画像</option>
					<option value="Videos">動画</option>
					<option value="Music">音楽</option>
					<option value="Playlists">プレイリスト</option>
					<option value="Projects">プロジェクト</option>
					<option value="Documents">文書</option>
					<option value="BINDATA">サムネール</option>
					<option value="Wiki">WIKI</option>
					<option value="Medias">メディア</option>
				</select>
			</div>
        </div>
		<div class="opdiv">
			<h4>検索</h4>
			<form>
				<div><label>検索語：<input type="text" id="searchWord" /></label></div>
				<div style="margin-top:10px;"><label>テーブル：<select id="searchTable">
					<option value="Pictures">画像</option>
					<option value="Videos">動画</option>
					<option value="Music">音楽</option>
					<option value="Projects">プロジェクト</option>
					<option value="Documents">文書</option>
					<option value="Wiki">WIKI</option>
				</select></label></div>
				<div style="margin-top:10px;"><label><input type="button" id="searchButton" value=" 検索 " /></label></div>
			</form>
		</div>
		<div class="opdiv">
			<h4 class="info">データベース</h4>
			<ul>
				<li><a href="/extra/mysqlMetaInfo" target="_blank">メタ情報</a></li>
				<li><a href="/extra/mysqlExecCommand" target="_blank">SQL 実行</a></li>
				<li><a href="/extra/mysqlExecFile" target="_blank">SQL ファイル実行</a></li>
			</ul>
		</div>
		<div class="opdiv">
			<h4 class="info">メディア</h4>
			<p><a href="/extra/mediaslist" target="_blank">メディアの管理</a></p>
		</div>
		<div class="opdiv" style="border-right: solid thin lightgray;">
			<h4 class="info">データの削除</h4>
			<ul>
				<li><a href="/extra#%E3%83%86%E3%83%BC%E3%83%96%E3%83%AB%E3%81%AE%E3%83%87%E3%83%BC%E3%82%BF%E3%81%AE%E5%89%8A%E9%99%A4" target="_blank">テーブル項目の削除</a></li>
				<li><a href="/extra#%E3%83%86%E3%83%BC%E3%83%96%E3%83%AB%E3%81%AE%E3%83%87%E3%83%BC%E3%82%BF%E3%81%AE%E4%B8%80%E6%8B%AC%E5%89%8A%E9%99%A4" target="_blank">テーブル項目の一括削除</a></li>
			</ul>
		</div>
	</div>
	<br />
   <div style="display:flex;" class="info">
        <div>
            <h4 class="info">最新の Wiki 情報</h4>
            <div class="info2" id="wiki"></div>
        </div>
        <div style="display:block;margin-left:10%;">
            <%- include("index_fixed.ejs") %>
        </div>
   </div>
	<p>&nbsp;</p>
	<p class="footer_text">Version: <%= version %>, Release Date: <%= release_date %></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
  </body>
</html>
