<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
	<style>
	  article {
	    display: flex;
		padding: 10px;
		margin-left: 1%;
		margin-top: 40px;
	  }
	  figure {
	    text-align:center;
		font-size: small;
		color: darkblue;
		width: 15%;
	  }
	  .iconpad {
		padding: 5px;
	  }
	</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="text-align:center;color:indigo;">ようこそ！ <%= title %></p>
	<br />
	<div class="menu">
		<a href="/addModifyAlbum" target="_blank"><img src="/img/form.png" /> アルバムの作成・修正</a>&nbsp;|&nbsp;
		<a href="/showAlbumGroups" target="_blank"><img src="/img/folder.png" /> アルバムグループ一覧</a>&nbsp;|&nbsp;
		<a href="/showAlbums/0" target="_blank"><img src="/img/thumbs2.png" /> アルバム一覧</a>&nbsp;|&nbsp;
		管理テーブルの内容&nbsp;
		<a href="/projects/showContent" target="_blank"><img src="/img/business2.png" /> プロジェクト</a>&nbsp;/&nbsp;
		<a href="/documents/showContent" target="_blank"><img src="/img/book2.png" /> 文書</a>&nbsp;/&nbsp;
		<a href="/pictures/showContent?reset=1" target="_blank"><img src="/img/image2.png" /> 画像</a>&nbsp;/&nbsp;
		<a href="/videos/showContent?reset=1" target="_blank"><img src="/img/video2.png" /> 動画</a>&nbsp;/&nbsp;
		<a href="/music/showContent?reset=1" target="_blank"><img src="/img/song16.png" /> 音楽</a>&nbsp;|&nbsp;
		<a href="/help_index.html" target="_blank"><img src="/img/question2.png" /> ヘルプ</a>&nbsp;
	</div>
	<article class="horblock">
	  <figure><a href="/computer" target="_blank"><img src="/img/laptop.png" alt="コンピュータ" class="iconpad" /><figcaption>コンピュータ</figcaption></a></figure>
	  <figure><a href="/projects" target="_blank"><img src="/img/business.png" alt="プロジェクト" class="iconpad" /><figcaption>プロジェクト</figcaption></a></figure>
	  <figure><a href="/documents" target="_blank"><img src="/img/book.png" alt="文書" class="iconpad" /><figcaption>文書</figcaption></a></figure>
	  <figure><a href="/pictures" target="_blank"><img src="/img/pictures.png" alt="画像"  class="iconpad" /><figcaption>画像</figcaption></a></figure>
	  <figure><a href="/videos" target="_blank"><img src="/img/movie.png" alt="動画"  class="iconpad" /><figcaption>動画</figcaption></a></figure>
	  <figure><a href="/music" target="_blank"><img src="/img/music.png" alt="音楽"  class="iconpad" /><figcaption>音楽</figcaption></a></figure>
	  <figure><a href="/extra" target="_blank"><img src="/img/settings.png" alt="その他"  class="iconpad" /><figcaption>その他</figcaption></a></figure>
	  <br />
	</article>
	<p class="message"><%= message %></p>
    <br />
	<p>&nbsp;</p>
	<p class="footer_text">Version: <%= version %>, Release Date: <%= release_date %></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
  </body>
</html>
