<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>識別マークの追加・修正</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <script>
            $(() => {
                $("input[name='tablename']").val(['<%= value.tablename %>']);
                // データ確認ボタン
                $("#confirmButton").click(() => {
                    let id = $("#id").val();
                    if (!id) {
                        alert("id が空欄です。");
                        return;
                    }
                    location.href = "/extra/marksForm?id=" + id;
                });
                // クリアボタン
                $("#clearButton").click(() => {
                    $("#id").val("");
                    $("#mark").val("");
                    $("input[name='tablename']").val(['Pictures']);
                    $("#info").val("");
                });
                // 一括登録ボタン
                $('#bulkButton').click(() => {
                    if (confirm("すでに使われているマーク一覧からマークを登録します。")) {
                        $.get("/extra/marksInsert", (msg) => {
                            $('#message').text(msg);
                        });
                    }
                    else {
                        $('#message').text("取り消されました。");
                    }
                });
            });
        </script>
    </head>

    <body>
        <header>
            <h1><a href="/"><img src="/img/home_orange.png" /></a>&nbsp;識別マークの追加・修正</h1>
            <p class="comment">Album のマークは変更しないでください。</p>
        </header>
        <article>
            <form method="POST" action="/extra/marksForm">
                <div class="form_row">
                    <div class="form_item">id (空欄の場合は挿入)</div>
                    <div class="form_item"><input type="number" id="id" name="id" size="6" value="<%= value.id %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">マーク</div>
                    <div class="form_item"><input type="text" id="mark" name="mark" size="10" value="<%= value.mark %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">関連するテーブル</div>
                    <div class="form_item">
                        <ul style="list-style-type: none;">
                            <li><label><input type="radio" name="tablename" id="tablePictures" value="Pictures" checked /> 画像フォルダ</label></li>
                            <li><label><input type="radio" name="tablename" id="tableVideos" value="Videos" /> 動画</label></li>
                            <li><label><input type="radio" name="tablename" id="tableMusic" value="Music" /> 音楽</label></li>
                            <li><label><input type="radio" name="tablename" id="tableProjects" value="Projects" /> プロジェクト</label></li>
                            <li><label><input type="radio" name="tablename" id="tableDocuments" value="Documents" /> 文書</label></li>
                            <li><label><input type="radio" name="tablename" id="tableAlbum" value="Album" /> アルバム</label></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">情報</div>
                    <div class="form_item"><input type="text" id="info" name="info" size="100" value="<%= value.info %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item"></div>
                    <div class="form_item">
                        <input type="submit" name="submitButton" id="submitButton" value=" 送信 " />&nbsp;
                        <input type="button" name="confirmButton" id="confirmButton" value=" データ確認 " />&nbsp;
                        <input type="button" name="clearButton" id="clearButton" value=" クリア " />&nbsp;
                        <input type="button" name="clearButton" id="bulkButton" value=" 一括登録 " />&nbsp;
                    </div>
                </div>
                <p id="message" class="message"><%= message %></p>
            </form>
            <br />
            <h2>テーブルごとの既存マーク一覧</h2>
            <table style="margin-left:10%;width:50%;">
                <tr><th>マーク</th><th>関連テーブル</th></tr>
                <% for (let row of marks) { %>
                    <tr>
                        <td><%= row.mark %></td>
                        <td><%= row.tableName %></td>
                    </tr>
                <% } %>
            </table>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p class="footer_text"><a href="#top">TOP</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>