<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <script>
            $(() => {
                $("#marks").change(() => {
                    location.href = "/music/showContent?mark=" + $("#marks").val();
                });

                $("#findButton").click(() => {
                    let val = $("#find").val();
                    if (val) {
                        location.href = "/music/showContent?search=" + val;
                    }
                    else {
                        alert("検索文字が空欄です。");
                    }
                });
                $("#idButton").click(() => {
                    let val = $("#directID").val();
                    if (val)  {
                        location.href = "/music/showContent?start=" + val;
                    }
                    else {
                        alert("移動先 id が空欄です。");
                    }
                });
            });

            function reloadPage() {
                if (location.href.includes('move=')) {
                    let newlocation = location.href.replace(/move=.+/, 'move=0');
                    location.href = newlocation;
                }
                else {
                    location.reload();
                }
            }
        </script>
    </head>

    <body>
        <header>
            <h1><img src="/img/music.png" width="48px" /> <%= title %></h1>
            <div class="menu">
                <a href="/"><img src="/img/home.png" /> HOME</a>&nbsp;|&nbsp;
                <a href="/music/showContent?reset=true"><img src="/img/home.png"> 表示リセット</a>&nbsp;|&nbsp;
                <a href="javascript:reloadPage()"><img src="/img/refresh2.png"> 表示更新</a>&nbsp;|&nbsp;
                <a href="/music/musicForm/" target="_blank"><img src="/img/form.png" /> 音楽の追加・修正</a>&nbsp;|&nbsp;
                <a href="/music/musicPlForm/" target="_blank"><img src="/img/form.png" /> プレイリスト (追加・修正</a>&nbsp;|&nbsp;
                <a href="/music/" target="_blank"> 一覧</a>&nbsp;)&nbsp;
                <a href="/music/showContent?fav=1" target="_blank"><img src="/img/heart2.png" /> 好き</a>&nbsp;|&nbsp;
                マーク <select id="marks">
                    <option value="0">-- Select --</option>
                    <% for (let m of marks) { %>
                        <% if (m) { %>
                            <option value="<%= m %>"><%= m %></option>
                        <% } %>
                    <% } %>
                </select>&nbsp;|&nbsp;
                <img src="/img/find2.png" /> 検索 <input type="text" id="find" size="22" /> <input type="button" id="findButton" value=" 検索 " />&nbsp;|&nbsp;
                <img src="/img/find_go.png" /> id の指定 <input type="text" id="directID" size="5" /> <input type="button" id="idButton" value=" 移動 " />&nbsp;|&nbsp;
                <a href="/music/artistList" target="_blank"> アーティスト一覧</a>&nbsp;|&nbsp;
                <a href="/music/showContent?move=first"><img src="/img/first.svg" /> 先頭</a>&nbsp;
                <a href="/music/showContent?move=prev"><img src="/img/prev.svg" /> 前へ</a>&nbsp;
                <a href="/music/showContent?move=next">次へ <img src="/img/next.svg" /></a>&nbsp;
                <a href="/music/showContent?move=last">最後 <img src="/img/last.svg" /></a>&nbsp;|&nbsp;
                <img src="/img/sortdir.png" />&nbsp;
                (<a href="/music/showContent?sortdir=asc"><%= dirasc %>昇順</a>&nbsp;/&nbsp;
                <a href="/music/showContent?sortdir=desc"><%= dirdesc %>降順</a>&nbsp;)
            </div>
        </header>
        <article>
            <br />
            <p>検索ワード：<%= search %></p>
            <table>
                <tr><th>id</th><th>アルバム</th><th>タイトル</th><th>パス</th><th>アーティスト</th><th>メディア</th><th>マーク</th><th>情報</th><th>好き</th><th>カウント</th><th>サムネール</th><th>登録日</th></tr>
                <% for (let row of result) { %>
                    <a>
                        <td><a href="/music/confirmMusic/<%= row.id %>" target="_blank"><%= row.id %></a></td>
                        <td><a href="/music/showContent?album=<%= row.album %>" target="_blank"><%= row.album %></a></td>
                        <td><a href="/music/playForm/<%= row.id %>" target="_blank"><%= row.title %></a></td></a></td>
                        <td><a href="/download?path=<%= row.path %>"><%= row.path %></a></td>
                        <td><a href="/music/showContent?artist=<%= row.artist %>" target="_blank"><%= row.artist %></a></td>
                        <td><%= row.media %></td>
                        <td><%= row.mark %></td>
                        <td><%= row.info %></td>
                        <td><a href="/music/favorite/<%= row.id %>"><%= row.fav %></a></td>
                        <td><%= row.count %></td>
                        <% if (row.bindata > 0) { %>
                            <td><img src="/extract/<%= row.bindata %>" /></td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                        <td><%= row.date %></td>
                    </tr>
                <% } %>
            </table>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p class="footer_text"><a href="#top">TOP</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>