<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>画像フォルダの追加・修正</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <script>
            $(() => {
                $("#submitButton").click(() => {
                    let title = $("#title").val().trim();
                    if (title == "") {
                        alert("タイトルが空欄です。");
                        return;
                    }
                    if (title.includes("\\")) {
                        alert("タイトルに'\\'が含まれていますが、許可されません。");
                        return;
                    }
                    $("#title").val(title);
                    let path = $("#path").val().trim();
                    let endp = path.length - 1;
                    if (!path) {
                        alert("パスが空欄です。");
                        return;
                    }
                    else if (path[0] == '"' && path[endp] == '"') {
                        $("#path").val(path.substring(1, endp));
                    }
                    else {
                        // そのまま
                    }
                    form1.submit();
                });
                $("#confirmButton").click(() => {
                    let id = $("#id").val();
                    location.href = "/pictures/confirmPictures/" + id;
                });
                $("#clearButton").click(() => {
                    $("#id").val("");
                    $("#album").val("0");
                    $("#title").val("");
                    $("#creator").val("");
                    $("#path").val("");
                    $("#media").val("");
                    $("#mark").val("");
                    $("#fav").val("0");
                    $("#info").val("");
                });
            });

            // アルバムのタイトルを得る。
            function checkAlbum() {
                const id = $("#album").val();
                if (id <= 0) {
                    alert("id=0はアルバム未登録を意味します。");
                }
                else {
                    fetch("/index/getAlbumTitle/" + id)
                    .then(res => res.text())
                    .then(name => alert(`アルバムタイトルは "${name}" です。`))
                    .catch(err => alert(err.message));
                }
            }

            // サムネール画像を得る。
            function checkBINDATA() {
                const id = $("#bindata").val();
                if (id <= 0) {
                    alert("id=0はサムネール画像未登録を意味します。");
                }
                else {
                    $("#thumb").attr("src", "/index/extract/" + id)
                    $("#thumb").css("display", "block");
                }
            }
        </script>
    </head>
    <body>
        <header>
            <h1><a href="/"><img src="/img/home_orange.png" /></a>&nbsp;画像フォルダの追加・修正</h1>
            <hr />
        </header>
        <article style="margin-left:10%;">
            <br />
            <form id="form1" name="form1" method="POST" action="/pictures/picturesForm" style="margin-left:4%;">
                <div class="form_row">
                    <div class="form_item">id</div>
                    <div class="form_item"><input type="number" id="id" name="id" size="8" value="<%= value.id %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">アルバム番号&nbsp;<a href="javascript:checkAlbum()">[チェック]</a></div>
                    <div class="form_item"><input type="number" id="album" name="album" size="8" value="<%= value.album %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">タイトル</div>
                    <div class="form_item"><input type="text" id="title" name="title" size="100" value="<%= value.title %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">作者</div>
                    <div class="form_item"><input type="text" id="creator" name="creator" size="20" value="<%= value.creator %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">パス</div>
                    <div class="form_item"><input type="text" id="path" name="path" size="150" value="<%= value.path %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">メディア</div>
                    <div class="form_item"><input type="text" id="media" name="media" size="20" value="<%= value.media %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">マーク</div>
                    <div class="form_item"><input type="text" id="mark" name="mark" size="10" value="<%= value.mark %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">情報</div>
                    <div class="form_item"><input type="text" id="info" name="info" size="100" value="<%= value.info %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">好き</div>
                    <div class="form_item"><input type="number" id="fav" name="fav" size="4" value="<%= value.fav %>" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">サムネール&nbsp;<a href="javascript:checkBINDATA()">[チェック]</a></div>
                    <div class="form_item"><input type="number" id="bindata" name="bindata" size="8" value="<%= value.bindata %>" />&nbsp;&nbsp;<a href="/extra/bindataForm" target="_blank">[サムネール画像の登録]</a>&nbsp;<img src="" id="thumb" style="display:none;" /></div>
                </div>
                <div style="margin-top:20px;">
                    <input type="button" id="submitButton" name="submitButton" value=" 送信する " />&nbsp;
                    <input type="button" id="confirmButton" name="confirmButton" value=" データ確認 " />&nbsp;
                    <input type="button" id="clearButton" name="clearButton" value=" クリア " />&nbsp;
                </div>
            </form>
            <p class="message"><%= message %></p>
            <br />
            <% if (marks != undefined) { %>
                <div style="display:flex">
                    <div style="margin-left:10px;">
                        <h4>登録されているマーク一覧</h4>
                        <ul style="font-size:10pt;">
                            <% for (let m of marks) { %>
                                <li><%= m %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div style="margin-left:40px;">
                        <h4>登録されているメディア一覧</h4>
                        <ul style="font-size:10pt;">
                            <% for (let m of medias) { %>
                                <li><%= m %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>