<!DOCTYPE html>
<html>
<head>
    <meta charset="="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.min.js"></script>
    <script>
        function adjustWidth() {
           $('img').each(function() {
               let imgwidth = $(this).prop('naturalWidth');
               if (imgwidth > window.innerWidth) {
                  $(this).css('width', '95%');
               }
           });
        }
    </script>
</head>
<body>
    <h1><%= title %></h1>
    <div class="menu">
        <a href="/"><img src="/img/home.png"> HOME</a>&nbsp;/&nbsp;
        <a href="/pictures/showthumb/?path=<%= dir %>"><img src="/img/image2.png"> 画像一覧表示</a>&nbsp;/&nbsp;
        <a href="/pictures/showthumb?path=<%= dir %>"><img src="/img/icons.png"> サムネール表示</a>&nbsp;/&nbsp;
        <a href="/pictures/showNavImage/?nav=0&dir=<%= dir %>"><img src="/img/first.svg" /> 先頭</a>&nbsp;
        <a href="/pictures/showNavImage/?nav=<%= prev %>&dir=<%= dir%>"><img src="/img/prev.svg" /> 前へ</a>&nbsp;&nbsp;
        <a href="/pictures/showNavImage/?nav=<%= next %>&dir=<%= dir %>"><img src="/img/next.svg" /> 次へ</a>&nbsp;
        <a href="/pictures/showNavImage/?nav=<%= last %>&dir=<%= dir %>"><img src="/img/last.svg" /> 最後</a>&nbsp;/&nbsp;
        <a href="javascript:adjustWidth()">幅の大きい画像の幅をウィンドウに合わせる</a>
    </div>
    <br />
    <p class="message"><%- message %> <span style="color:darkviolet;font-size:10pt;">(<%= path %>)</span></p>
    <div style="text-align:center;">
        <a href="/pictures/showNavImage/?nav=<%= next %>&dir=<%= dir %>"><img src="/sendfile?path=<%= path %>" /></a>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</body>
</html>