<!DOCTYPE html>
<!-- id で指定されたアルバムの内容一覧 -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script>
            
        </script>
    </head>

    <body>
        <header>
            <h1><%= title %></h1>
            <p class="comment">このページの内容は画像、動画、音楽、プロジェクト、文書で共通な項目だけが表示されています。各カテゴリーごとの詳細表示は下のメニューからカテゴリーごとのページを表示してください。</p>

            <div class="menu">
                <a href="/"><img src="/img/home.png" /> HOME</a>&nbsp|&nbsp;
                <a href="javascript:location.reload()"><img src="/img/refresh2.png" /> 最新の状態を表示</a>&nbsp|&nbsp;
                <a href="/addModifyAlbum" target="_blank"><img src="/img/form.png" /> アルバムの作成・修正</a>&nbsp|&nbsp;
                <a href="/projects">プロジェクト</a>&nbsp;/&nbsp;
                <a href="/documents">文書</a>&nbsp;/&nbsp;
                <a href="/pictures">画像フォルダ</a>&nbsp;/&nbsp;
                <a href="/videos">動画</a>&nbsp;/&nbsp;
                <a href="/music">音楽</a>
            </div>
        </header>
        <article>
            <br />
            <p class="comment">区分： <%= mark %></p>
            <table style="width:100%;">
                <tr><th>id</th><th>アルバム番号</th><th>タイトル</th><th>パス</th><th>マーク</th><th>情報</th><th>日付</th></tr>
                <% for (let a of result) { %>
                    <tr>
                        <td><%= a.id %></td>
                        <td><%= a.album %></td>
                        <td><%- a.title %></td>
                        <td><%= a.path %></td>
                        <td><%= a.mark %></td>
                        <td><%= a.info %></td>
                        <td><%= a.date.getFullYear() + "-" + ("0" + (a.date.getMonth() + 1)).slice(-2) + "-" + ("0" + a.date.getDate()).slice(-2) %></td>
                    </tr>
                <% } %>
            </table>
            <br />
            <p class="message"><%= message %></p>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p class="message"><a href="#top">TOP</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>