<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <script>
            $(() => {
                $("#marks").change(() => {
                    location.href = "/videos/showContent?mark=" + $("#marks").val();
                });

                $("#findButton").click(() => {
                    let val = $("#find").val().trim();
                    if (val) {
                        location.href = "/videos/showContent?search=" + val;
                    }
                    else {
                        alert("検索文字が空欄です。");
                    }
                });
                $("#idButton").click(() => {
                    let val = $("#directID").val();
                    if (val)  {
                        location.href = "/videos/showContent?start=" + val;
                    }
                    else {
                        alert("移動先 id が空欄です。");
                    }
                });
            });

            function reloadPage() {
                if (location.href.includes('move=')) {
                    let newlocation = location.href.replace(/move=.+/, 'move=0');
                    location.href = newlocation;
                }
                else {
                    location.reload();
                }
            }

            function download(path) {
                if (confirm("動画ファイルをダウンロードします。")) {
                    let path2 = path.replace(/#/g, '%23').replace(/&/g, '%26');
                    location.href = "/download?path=" + path2;
                }
            }
        </script>
    </head>

    <body>
        <header>
            <h1><img src="/img/video0.png" /> <%= title %></h1>
            <div class="menu">
                <a href="/"><img src="/img/home.png" /> HOME</a>&nbsp;|&nbsp;
                <a href="/videos/showContent?reset=true"><img src="/img/clear2.png"> 表示リセット</a>&nbsp;|&nbsp;
                <a href="javascript:reloadPage()"><img src="/img/refresh2.png"> 表示更新</a>&nbsp;|&nbsp;
                <a href="/videos/videosForm/" target="_blank"><img src="/img/form.png" /> 動画の追加・修正</a>&nbsp;|&nbsp;
                <!--
                <a href="/videos/playlistForm/"><img src="/img/form.png" /> プレイリストの追加・修正</a>&nbsp;|&nbsp;
                -->
                <a href="/videos/series/" target="_blank"><img src="/img/list2.png" /> シリーズ一覧</a>&nbsp;|&nbsp;
                <a href="/videos/showContent?fav=1/"><img src="/img/heart2.png" /> 好き</a>&nbsp;|&nbsp;
                マーク <select id="marks">
                    <option value="0">-- Select --</option>
                    <% for (let m of marks) { %>
                        <% if (m) { %>
                            <option value="<%= encodeURIComponent(m) %>"><%= m %></option>
                        <% } %>
                    <% } %>
                </select>&nbsp;|&nbsp;
                <img src="/img/find2.png" /> 検索 <input type="text" id="find" size="22" /> <input type="button" id="findButton" value=" 検索 " />&nbsp;|&nbsp;
                <img src="/img/find_go.png" /> id の指定 <input type="text" id="directID" size="5" /> <input type="button" id="idButton" value=" 移動 " />&nbsp;|&nbsp;
                <a href="/videos/showContent?move=first"><img src="/img/first.svg" /> 先頭</a>&nbsp
                <a href="/videos/showContent?move=prev"><img src="/img/prev.svg" /> 前へ</a>&nbsp;
                <a href="/videos/showContent?move=next">次へ <img src="/img/next.svg" /></a>&nbsp;
                <a href="/videos/showContent?move=last">最後 <img src="/img/last.svg" /></a>&nbsp;|&nbsp;
                <img src="/img/sortdir.png" />&nbsp;
                (<a href="/videos/showContent?sortdir=asc"><%= dirasc %>昇順</a>&nbsp;/&nbsp;
                <a href="/videos/showContent?sortdir=desc"><%= dirdesc %>降順</a>)&nbsp;|&nbsp;
                <a href="#Albums">アルバム一覧</a>
            </div>
        </header>
        <article style="margin-left:2.5%;">
            <h4>
                <% if (albumName) { %>
                    アルバム: <%= albumName %>
                <% } %>
                <%= message %>
            </h4>
            <br />
            <p>検索ワード：<%= search %></p>
            <table>
                <tr><th>id</th><th>アルバム</th><th>タイトル</th><th>パス</th><th>メディア</th><th>シリーズ</th><th>マーク</th><th>情報</th><th>好き</th><th>カウント</th><th>サムネール</th><th>登録日</th></tr>
                <% for (let row of result) { %>
                    <a>
                        <td><a href="/videos/confirmVideos/<%= row.id %>" target="_blank"><%= row.id %></a></td>
                        <% if (row.album > 0) { %>
                            <td><a href="/videos/showContent?album=<%= row.album %>" target="_blank"><%= row.album %></a></td>
                        <% } else { %>
                            <td><%= row.album %></td>
                        <% } %>
                        <td><a href="/videos/playForm/<%= row.id %>" target="_blank"><%= row.title %></a></td></a></td>
                        <!--
                        <td><a href="/download?path=<%= row.path.replace(/#/g, '%23').replace(/&/g, '%26') %>"><%= row.path %></a></td>
                        -->
                        <td><a href="javascript:download('<%= row.path %>')"><%= row.path %></a></td>
                        <td><%= row.media %></td>
                        <td><a href="/videos/showContent?series=<%= row.series %>" target="_blank"><%= row.series %></a></td>
                        <td><%= row.mark %></td>
                        <td><%= row.info %></td>
                        <td><a href="/videos/favorite/<%= row.id %>"><%= row.fav %></a></td>
                        <td><%= row.count %></td>
                        <% if (row.bindata > 0) { %>
                            <td><img src="/extract/<%= row.bindata %>" /></td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                        <% if (row.date) { %>
                            <td><%= row.date %></td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
            <br />
            <h3><a id="Albums">アルバム一覧</a></h3>
            <table>
                <tr><th>id</th><th>アルバム名</th></tr>
                <% for (let r of albumList) { %>
                    <tr><td><a href="/videos/showContent?album=<%= r.id %>"><%= r.id %></a></td><td><%= r.name %></td></tr>
                <% } %>
            </table>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p class="footer_text"><a href="#top">TOP</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>
