<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>画像フォルダ追加・修正</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
    <style>
        form {
            width:60%;
            padding:10px;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
    <script>
        $(()=>{
            /* データ確認ボタン */
            $('#btnConfirm').click(()=>{
                let id = $('#id').val();
                if (id == "") {
                    alert("id が空欄です。");
                }
                else {
                    location.href = `/add_modify/confirm/${id}`;
                }
              });

            /* クリアボタン */
            $('#btnClear').click(()=>{
                $('#id').val("");
                $('#title').val("");
                $('#creator').val("");
                $('#path').val("");
                $('#mark').val("");
                $('#info').val("");
                $('#fav').val("0");
                $('#bindata').val("0");
                $('#date').val("");
            });
        });
    </script>
</head>

<body>
    <h1>画像フォルダ追加・修正</h1>
    <div class="menu"><a href="javascript:window.close()">閉じる</a></div>
    <br />
    <div class="message"><%= message %></div>
    <form id="form1" method="POST" action="/add_modify">
        <div class="form_row">
            id<br /><input type="text" name="id" id="id" size="10" value="<%= id %>" />
        </div>
        <div class="form_row">
            タイトル<br /><input type="text" name="title" id="title" size="80" value="<%= title %>" />
        </div>
        <div class="form_row">
            作者<br /><input type="text" name="creator" id="creator" size="60" value="<%= creator %>" />
        </div>
        <div class="form_row">
            フォルダパス<br /><input type="text" name="path" id="path" size="150" value="<%= path %>" />
        </div>
        <div class="form_row">
            分類マーク<br /><input type="text" name="mark" id="mark" size="20" value="<%= mark %>" />
        </div>
        <div class="form_row">
            情報<br /><input type="text" name="info" id="info" size="150" value="<%= info %>" />
        </div>
        <div class="form_row">
            お気に入り<br /><input type="text" name="fav" id="fav" size="4" value="<%= fav %>" />
        </div>
        <div class="form_row">
            イメージインデックス<br /><input type="text" name="bindata" id="bindata" size="4" value="<%= bindata %>" />
        </div>
        <div class="form_row">
            日付<br /><input type="text" name="date" id="date" size="15" value="<%= date %>" />
        </div>
        <div class="form_row">
        </div>
        <div class="form_row">
            <input type="submit" id="btnSend" value=" 送信 " />&nbsp;<input type="button" id="btnConfirm" value=" データ確認 " />&nbsp;<input type="button" id="btnClear" value=" クリア " />
        </div>
    </form>
</body>
</html>
