<!DOCTYPE html>
<!-- showfolder.ejs -->
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
        <script src="/js/jquery.min.js"></script>
        <style>
            .item {
                margin-bottom: 10px;
                font-size:smaller;
            }
        </style>
        <script>
            var separator = ";";

            // 画像幅修正
            function adjustWidth() {
               $('img').each(function() {
                   let imgwidth = $(this).prop('naturalWidth');
                   if (imgwidth > window.innerWidth) {
                      $(this).css('width', '95%');
                   }
               });
            }

            // パスリストを表示
            function show_pathlist() {
                var path_array = localStorage.image_pathlist.split(separator);
                var str = "";
                for (let i = 0; i < path_array.length; i++) {
                  if (path_array[i] != "") {
                    str += ("<li>" + path_array[i] + "</li>\n");
                  }
                }
                $('.message').text('');
                $('#pathlist').html(str);
            }
              
            // パスリストをクリア
            function clear_pathlist() {
                localStorage.image_pathlist = "";
                $('#pathlist').html("");
            }
            
            // 画像がクリックされたとき、ローカルストレージにそのパスを追加
            $(function() {
                var src;
                var p;
                var path;
                localStorage.image_pathlist = "";
                $('img').click(function() {
                  src = $(this).attr('src');
                  p = src.split('=');
                  path = p[1] + separator;
                  localStorage.image_pathlist += path;
            　  });
            });
        </script>
    </head>

    <body>
        <h1><%= title %></h1>
        <div class="menu">
            <a href="javascript:window.close()">閉じる</a>&nbsp;/&nbsp;
            <a href="/showfolder/thumbs?path=<%= dir %>">サムネール一覧</a>&nbsp;/&nbsp;
            <a href="javascript:adjustWidth()">幅の大きい画像の幅をウィンドウに合わせる</a>&nbsp;/&nbsp;
            <a href="javascript:show_pathlist();">クリックした画像のパス一覧を表示</a>&nbsp;/&nbsp;
            <a href="javascript:clear_pathlist();">パス一覧をクリアする</a>
        </div>
        <br />
        <p class="message"><%= message %></p>
        <ul id="pathlist" style="margin-left:10%;font-size:smaller;color:darkgray;"></ul>
        <br />
        <% for (let p of files) { %>
            <% let url = `/getimage?path=${p}`; %>
            <div class="item"><img src="<%= url %>"><br /><%= p %></div>
        <% } %>

        
        <!-- フッター -->
        <p>&nbsp;</p>
        <p style="text-align:center;"><a href="#top">TOP</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </body>
</html>