<!DOCTYPE html>
<!-- Pictures テーブルの表示  pictures.ejs-->
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
  </head>

  <body>
    <!-- HTML 本体 -->
    <h1><%= title %></h1>
    <div class="menu">
      <!-- メニュー -->
      <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
      <a href="/pictures"> 表示リセット</a>&nbsp;/&nbsp;
      <a href="/modify_folder">追加・修正</a>&nbsp;/&nbsp;
      <a href="/pictures/reverse"> 逆順で表示</a>&nbsp;/&nbsp;
      <a href="/pictures/first"><img src="/img/first.svg" /> 先頭</a>&nbsp;
      <a href="/pictures/prev"><img src="/img/prev.svg" /> 前へ</a>&nbsp;/&nbsp;
      <a href="/pictures/next">次へ <img src="/img/next.svg" /></a>&nbsp;
      <a href="/pictures/last">最後 <img src="/img/last.svg" /></a>&nbsp;/&nbsp;
      <span>id を指定 </span><input type="text" size="5" id="jumpId" /><input type="button" id="btnJump" value="SET" />&nbsp;/&nbsp;
      <a href="/pictures/mark">マークフィルタ</a>&nbsp;/&nbsp;
      <a href="/pictures/favorites">お気に入り</a>&nbsp;/&nbsp;
      <a href="/pictures/creators">作者一覧</a>&nbsp;/&nbsp;
      <a href="/pictures/find">ワード検索</a>&nbsp;/&nbsp;
    </div>
    <br />
    <!-- メッセージ -->
    <p class="message"><%= message %></p>

    <!-- 画像フォルダ一覧 -->
    <table>
      <tr><th>id</th><th>タイトル</th><th>作者</th><th>パス</th><th>マーク</th><th>情報</th><th>好き</th><th>参照回数</th><th>イメージ</th><th>日付</th></tr>
      <% for (let row of results) { %>
        <tr>
        <% for (let i = 0; i < row.length; i++) { %>
          <% if (i == 0 || i == 1) { %>
            <td><%- row[i] %></td>
          <%  } else { %>
            <td><%= row[i] %></td>
          <% } %>
        <% } %>
        </tr>
      <% } %>
    </table>
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#top">TOP</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </body>
</html>