<!DOCTYPE html>
<html>
    <!-- PictureAlbum テーブル 画像一覧表示 -->
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <style>
            .imgitem {
                font-size:smaller;
                margin-bottom:16px;
            }
        </style>
    </head>

    <body>
        <h1><%= title %></h1>
        <!-- メニュー -->
        <div class="menu">
        <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
        <a href="/modify_picture" target="_blank"> 画像の追加・更新</a>&nbsp;/&nbsp;
        <a href="/pictalbum/reverse"> 逆順で表示</a>&nbsp;/&nbsp;
        <a href="/pictalbum/thumbs"> サムネール一覧表示</a>&nbsp;/&nbsp;
        <a href="/pictalbum/details"> 詳細一覧表示</a>&nbsp;/&nbsp;
        <a href="/help.html" target="_blank">ヘルプ</a>
        </div>
        <!-- メッセージ -->
        <p class="message"><%= message %></p>
        <!-- 画像一覧表示 -->
        <% for (let row of results) { %>
            <% let srclink = "/getimage?path=" + row[3]; %>
            <div class="imgitem"><img src="<%- srclink %>" alt="id: <%= srclink %>"><br />id <%= row[0] %> <%= row[3] %></div>
        <% } %>

        <!-- フッター -->
        <p>&nbsp;</p>
        <p style="text-align:center;"><a href="#top">TOP</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </body>
</html>